textarea {
    flex: 1;
    box-sizing: border-box;
}

.container-top {
    display: flex;
    height: 50vh;
    gap: 3px;
}

.small-hint {
    font-size: 70%;
}

.reviews {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .container-top {
        flex-direction: column;
    }

    .reviews {
        height: 10vh;
        width: 100%;
    }
}

.whole {
    width: 100%;
}

.whole input {
    width: 100%;
}

.table-dataset {
    border-collapse: collapse;
    margin-top: 4px;
}

.table-dataset tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-dataset td {
    border: 1px solid #ddd;
    text-align: right;
    padding: 4px;
}

.chart-container {
    position: relative;
    flex: 1;
}

.whole-input {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.action-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
}

.slider-container {
    font-size: 75%;
    width: 100%;
}

.github-link {
    font-size: 75%;
}
